#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.grille {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}
